[2013-10-27 21:41] Lamz0rNewb opened #1 "ppcoin-paper.pdf missing on peercoin.net"
link to http://www.ppcoin.org/static/ppcoin-paper.pdf is neither available nor redirected and needs to be adjusted

[2013-10-27 21:46] Lamz0rNewb opened #2 "links to exchanges incomplete"
the link list to exchanges is incomplete and might be restructured as in the last row are 2 exchanges which is quite confusing. suggestion:

Vircurex    https://vircurex.com/welcome/index?alt=ppc&base=btc&locale=en
BTC-E   https://btc-e.com/exchange/ppc_btc
MCX Now https://mcxnow.com/exchange/PPC
CoinMkt https://coinmkt.com/
Crypto-Trade    https://crypto-trade.com/trade/ppc_btc
BTER Exchange   ht

[2013-10-27 21:51] Lamz0rNewb opened #3 "links to ppc pools might be adjusted"
the links to pools currently cointain only coinotron and d7's pool. fuzzy's pool and ppc.fixx.ru might be added:

FuzFuzzypool    http://fuzzypool.org/pool/
Fixx    http://ppc.fixx.ru/index

[2013-10-28 17:29] super3 commented on #1
Fixed with 8434ba0

[2013-10-28 17:29] #1 closed, assigned to nobody

[2013-10-28 17:41] super3 commented on #2
Fixed in 8cce11c9bd9d600ab9840b092ccd8d9455a6858b

[2013-10-28 17:41] #2 closed, assigned to nobody

[2013-10-28 17:41] super3 commented on #3
Fixed in 8cce11c9bd9d600ab9840b092ccd8d9455a6858b

[2013-10-28 17:41] #3 closed, assigned to nobody

[2013-10-29 06:29] Sentinelrv opened #4 "Peercoin.net Forwarding"
Please make it so that all who click on ppcoin.org or ppcoin.com get FORWARDED to peercoin.net and that peercoin.net shows up on the browser address bar. It's confusing otherwise.

People still searching for ppcoin.org don't know the address has been changed to peercoin.net. Fixing this will let them see that the address has been changed. It will also help speed up the name transition from ppcoin

[2013-10-29 06:35] Sentinelrv opened #5 "Add Link to Volunteer Survey"
At the top of the website where the 3 buttons are, Home, Wiki and Forum, could you please add a 4th button that says Volunteer and link it to the survey...

http://www.surveymonkey.com/s/J9RNLPH

This will help in getting more people on the team to help out.

[2013-10-29 17:33] super3 commented on #4
I have no control over the ppcoin.org domain. That is Sunny King right? He or whoever controls it needs to setup a 301 redirect instead of just a forward.

[2013-10-29 17:58] super3 commented on #5
ACK

[2013-10-29 17:58] #5 closed, assigned to nobody

[2013-10-29 18:59] hammyburger opened #6 "Font and backdrop image."
Ideas:

How about flipping out the fonts for something more serious. I suggested "Impact" for headings and "Times New Roman" for body in one forum thread. That said I'm not married to anything and I can't say there is consensus. Other ideas? The font now is rough.

And what do you think about flipping out the wood paneling for something else? The wood paneling gives the site the vibe that it is ju

[2013-10-29 18:59] hammyburger opened #7 "Consolidating websites."
Do you need any assistance on moving peercointalk under "peercoin.net/forum" and wiki under "peercoin.net/wiki"?

[2013-10-29 19:04] JohnManglaviti opened #8 "Adding a link from the main site to Peercoinmyths.com"
Request: Create a link to the Peercoinmyths.com site.

[2013-10-29 19:15] Sentinelrv commented on #4
Ok, I'll let Sunny know then.

[2013-10-29 19:17] Sentinelrv commented on #8
Probably stating the obvious here, but I would just call it Myths.

[2013-10-29 19:20] Sentinelrv commented on #6
The mobile site also has cursive font. I think that needs to be changed too.

[2013-10-30 02:46] super3 commented on #8
No idea where that link should go. Needs to be discussed further.

[2013-10-30 02:47] super3 commented on #6
Can you guys post full screenshots of the website from your browser?

[2013-10-30 03:03] super3 commented on #7
Last time I looked at that topic there was no general consensus on moving the forum. Lets take care of #7 then try to work on getting the wiki then the forum rolled in.

[2013-10-30 04:36] Sentinelrv commented on #6
Here it is in Internet Explorer...

http://i2.photobucket.com/albums/y17/Sentinelrv/Other-Images/iepeercoinnet.png~original

Here it is in FireFox. Notice that in FireFox, "Peercoin" and "Features" are in Comic Sans, while in IE it's not...

http://i2.photobucket.com/albums/y17/Sentinelrv/Other-Images/ffpeercoinnet.png~original

And here are "Peercoin" and "Features" in cursive. The right side of

[2013-10-30 04:48] Sentinelrv commented on #8
Why not just add a "Myths" link at the top where the other main buttons are? It was my understanding that JustaBitofTime was working on the Myths section off-site and that once the text is finalized and ready to go, it will all be added to a separate page on main website at peercoin.net/myths. PeercoinMyths.com would then forward to that link. We would then do the same thing when we make the FAQ s

[2013-10-30 04:53] Sentinelrv opened #9 "Desktop Site Link"
Can we please have a "Desktop Site" link at the bottom of the mobile version? A lot of people like me hate mobile sites and want to have the choice of viewing it how it was meant to be seen. I think this is low priority, so it can probably wait until later.

[2013-10-30 06:41] Sentinelrv opened #10 "Text Error"
Under the Energy Efficiency section I just noticed this text error...

"Thus, with Peercoin's energy consumption would decrease over time as proof-of......"

There shouldn't be an s after "Peercoin's".

[2013-10-30 22:19] super3 commented on #10
Fixed with 870cc49cced6e8897ba53db7eeac81f0e672c660

[2013-10-30 22:19] #10 closed, assigned to nobody

[2013-10-30 23:32] super3 commented on #8
NAK, that top is getting cluttered. I think it will fit well under info.

[2013-10-31 00:03] super3 commented on #8
Added as of 0506e0ca604c9e3896641139f69c39501226ff13

[2013-10-31 00:03] #8 closed, assigned to nobody

[2013-10-31 00:03] super3 commented on #4
As this is not in my hands, will close for now.

[2013-10-31 00:03] #4 closed, assigned to nobody

[2013-10-31 17:33] super3 commented on #9
Fair issue, but this would take some time and code to implement, and I would have to maintain both a static and desktop link vs just the static for now. Some of that time is probably better spent adding pages and content.

Bootstrap offers some guidance on how to get this done though:
http://getbootstrap.com/getting-started/#disable-responsive

Once we have some more stuff on there then we can con

[2013-10-31 17:33] #9 closed, assigned to nobody

[2013-10-31 18:38] hammyburger opened #11 "Replace wordpress template with new proposed one."
As per the discussion on peercointalk - a number of us would like to propose replacing the template for the website with this one:

http://m.elgendy.me/demo/justone/?skin=dark

Let us how we can help.

[2013-10-31 18:56] Sentinelrv commented on #11
My main reason for supporting this is because I want the main features and content of the website to be displayed at the top in the most visible location and not hidden down below where less people will be exposed to it. We need to make sure people see this information. It's one of the best ways to spread awareness of Peercoin's features.

If we could incorporate drop down menus into the current t

[2013-11-01 00:36] super3 commented on #11
I am going to say no for now. My reasons:

1) Very heavy javascript and lots of animation is going to lead to a slow and poorly loading website
2) Wordpress is now going to be updated and maintained
3) The template is not going to fit easily with the color scheme we want
4) There might be a template better than this out there that can address 1 and 3, which would bring my arguments down to only 2.

[2013-11-01 00:36] #11 closed, assigned to nobody

[2013-11-01 00:44] super3 commented on #7
Ok can someone contact the wiki admin, and get those files to be so I can host it on the server?

[2013-11-01 00:47] super3 commented on #6
I made updates to the fonts across the board. Most of the fonts were not hosted on the website I fell back to things like Comic Sans. That should be gone now. Give me some feedback on the new fonts.

Please split off the background image to another issue.

[2013-11-01 01:09] Sentinelrv commented on #11
I mentioned in the thread that we should remove all that animation and just have the image banner up there above the navigation, the text and logo.  I completely agree the animation isn't necessary and will slow down the website. We would also have to select the right colors to fit with our logo.

[2013-11-01 01:11] super3 commented on #11
Not really as easy as that. You would be stripping away parts of the code, and its unclear how that would affect the template. Could still take a performance hit even with that removed. Or I mean it would be much better after you removed it. I have no idea.

[2013-11-01 01:20] Sentinelrv commented on #11
I'm not an expert on websites, so I don't know what to say here. Would it be possible to add drop down menus to the current website, that way we could group items together?

[2013-11-01 01:22] super3 commented on #11
Yup that can be done, and should be done. Just need know what links need to go in those dropdowns.

[2013-11-01 01:48] Sentinelrv commented on #11
Well, Wiki, FAQ and Myths could all go under "Resources" or maybe "Education." We would need to figure out the right name to use. All the beginner how to stuff you're having put together could go under "Guides" maybe. How many main buttons are you willing to put up there before you say no more? I was thinking maybe 2 more and that's it. I at least didn't think it was too crowded yet.

[2013-11-01 06:50] Sentinelrv commented on #6
I like these fonts a lot better and they seem to be the same on all the browsers I'm using. The only problem I see that still remains is the right side of the mobile screen being cut off. Check the two photos I linked above.

[2013-11-01 07:06] Sentinelrv commented on #7
I messaged Nox to get in touch with you about it. He's the one who created the wiki that was on peercoin.net.

[2013-11-01 07:12] super3 commented on #6
Ok we fixed the font, and the wallpaper will have to be a separate issue. Looks like that is a rendering bug with iPhone. Repost another issue with those screens. I'm probably going to have to get my hands on an iPhone and see whats wrong with the template.

[2013-11-01 07:12] #6 closed, assigned to nobody

[2013-11-01 20:31] Sentinelrv opened #12 "Please Link our Social Media Sites"
Is it possible to link our current social media sites as those little icons somewhere at the top of the page where they'd be visible? These pages very important for marketing and keeping everyone updated and on the same page.

www.facebook.com/Peercoin
www.twitter.com/PeercoinPPC
www.youtube.com/OfficialPeercoin
www.reddit.com/r/peercoin

[2013-11-01 22:11] pffff opened #13 "pool list"
since it is still online maybe add http://theseven.bounceme.net/~theseven/pool/ to the pool list?

[2013-11-01 23:45] super3 commented on #13
Said it is shutting down.

[2013-11-01 23:45] #13 closed, assigned to nobody

[2013-11-02 13:52] pffff opened #14 "bitaddress"
link to bitaddress is missing

https://web.archive.org/web/20131022083840/http://ppcoin.org/bitaddress

[2013-11-05 23:13] Sentinelrv commented on #12
Super3, is it possible to do this before our big media push tomorrow? I'd love people to be able to join up on the different pages we have, but they need to be listed on the website first in order to see them.

[2013-11-08 01:35] super3 commented on #12
Sorry, been a bit busy. Where do you suggest I put the links?

[2013-11-08 13:19] pffff opened #15 "Faucet"
the faucet has been lost during the redesign, imo it should come back somewhere
http://ppcoin.org/faucet
https://bitcointalk.org/index.php?topic=149165.0

[2013-11-10 16:53] Sentinelrv commented on #12
Sorry, I didn't see your response here until now. As soon as I'm done working with our designer on the text, I'll ask people about this.

[2013-11-11 15:11] Sentinelrv opened #16 "Can you Replace the Wood Paneling with the new Dark Background"
Hey Super3, you asked in one of the threads for the new logo files. Me, MeBeingAwesome and a couple others were actually talking last night if it was possible to switch out the wood paneling at the top of the website for the dark background with the logo and text. If you haven't seen it yet, I included it below. Here are the files. All the new ones are in the folder called Peercoin Text Files...

[2013-11-11 15:13] Sentinelrv commented on #16
I need to know what dimenions the wood paneling is so I can make a banner. Also, it's important to know if you're going to want the logo and text in the same placement as it currently is, or if it can all be centered on the banner. It would be much easier to do this and I think a cleaner look if it was all centered like it is in the new images. I don't think I'd have to change anything either.

[2013-11-12 04:06] super3 commented on #16
@Sentinelrv Updated. Look good enough?

[2013-11-12 04:14] super3 commented on #15
I don't have core code to that faucet. I do have my own faucet software, but it would require excessive work and maintenance to get it working. Without implementing `sendtomany` the faucet balance would be killed quite quickly. If someone wants to put in 1000 PTS+ bounty I can hire someone to get this done, but at this point I am going go focus on static for now.

[2013-11-12 04:14] #15 closed, assigned to nobody

[2013-11-12 04:20] super3 commented on #14
Rather not rely on the archive.org copy. Do you think you could contact Sunny and ask for the original webpage?

[2013-11-12 04:27] super3 commented on #12
Ok. I figured out where these could go. I'll work on it soon.

[2013-11-12 04:46] super3 commented on #7
It seems like we are going to create one from scratch. Probably have to wait a little bit till I launch an independent server just for Peercoin.

[2013-11-12 04:47] #16 closed, assigned to nobody

[2013-11-12 21:07] czarly opened #17 "Network statistics"
I would like to have network statistics. Maybe to play around with as a fancy moving JavaScript. Information like number of nodes, location of nodes, transactions per second, approximately energy consumption in the last 24 hours etc.

[2013-11-12 21:11] czarly opened #18 "Dummy Proof PoS Explanation"
Since this is the main issue when talking to people and preparing presentations, it is very needed to make a colorful info graphic about Bob and Alan earning money by coinstake (interest) and securing the network on the way. It has to be Sesame Street style and should include copy&paste material for talks on bitcoin conferences. They are searching for this kind of stuff endless and e best presente

[2013-11-12 21:43] Sentinelrv opened #19 "Can we Rearrange the Top of the Website Like this?"
Now that we have a text logo, the Peercoin text in the upper left corner of the website is redundant. I believe we should remove it to make room for more menu buttons. Once it's gone, we should move all the existing menu buttons over to the left. We'll then have more room on the right to include all our social media icons: Facebook, Twitter, Reddit, etc... Then if possible, I'd like to see the log

[2013-11-12 21:48] Sentinelrv commented on #12
I believe I've solved this issue. Check here: https://github.com/super3/Peercoin.net/issues/19

[2013-11-12 23:30] super3 commented on #12
Per #19

[2013-11-12 23:30] #12 closed, assigned to nobody

[2013-11-12 23:30] super3 commented on #19
ACK. Will get to work on this one.

[2013-11-12 23:32] super3 commented on #18
Agreed. Get someone to write this up, and I will include it.

[2013-11-12 23:35] super3 commented on #17
This should be the function of a blockchain.info like website, not the function of the informational website. I would like to see a live stat of approximately energy consumption saved in the last 24 hours etc as a selling point. Not currently a priority though.

[2013-11-12 23:35] #17 closed, assigned to nobody

[2013-11-13 01:36] Sentinelrv commented on #19
Hey Super3, in case you haven't started to work on this yet, I thought of a way to improve it even further, at least in my opinion. I think we should remove "Decentralized Money" and replace it with the new Peercoin text logo, rather than having it under the coin logo. I think it's important to have a large "Peercoin" title on the left side where most people first look when they visit a page. And

[2013-11-13 01:46] Sentinelrv commented on #19
Here is an updated concept image...

http://i2.photobucket.com/albums/y17/Sentinelrv/Other-Images/PeercoinnetConcept3.png~original

[2013-11-13 03:13] super3 commented on #19
Even better. I think we should update the blurb. We assume that already know what Bitcoin is if they are visiting Peercoin. We should say something about energy efficiency, and interest via proof of stake.

[2013-11-13 07:45] Sentinelrv commented on #19
That would be good too. Tomorrow if I get a chance I'll make a thread about it.

[2013-11-13 20:30] rootsical opened #20 "videos"
as requested on the peercointalk.org forum... nice one

[2013-11-13 22:12] rootsical opened #21 "favicon"
how about a favicon with the new logo and transparency to look extra slick?

[2013-11-15 07:03] pffff commented on #14
I'll try to contact him and get the original webpage for it

[2013-11-15 17:52] super3 commented on #20
Can you link to the videos here as well?

[2013-11-15 17:53] super3 commented on #21
I'll try to drop in a favicon after #19

[2013-11-15 20:44] rootsical commented on #20
here you go..
http://www.youtube.com/playlist?list=PLBt4zAxcWonnA8-InWGUEw-UZofHdUIeT

[2013-11-17 08:03] Sentinelrv commented on #19
I think we've finally sorted out the short description to go up on the website...

"Peercoin offers technological advances over Bitcoin that allow its network to consume far less energy and achieve a higher degree of security and decentralization.  Not only is Peercoin's energy efficient design "greener" than the alternatives, it is set up to reward you just for owning the coins. In this way, even

[2013-11-17 20:15] d5000 commented on #14
Thanks for opening this. There are some web services which require such a tool, so it's important for Peercoin's success.

[2013-11-17 22:33] super3 commented on #19
Busy with coin and school work. You can use the Github editor to edit the text, and then just put in a pull request, and I will accept it.

[2013-11-21 01:01] super3 commented on #19
The description is a bit too long to go in the header. Do you think we can reduce that to about half that size?

[2013-11-21 05:07] Sentinelrv commented on #19
Half the size? Is there anyway we can reduce the font size some to fit more in? That will cut out a lot of what we came up with. If not, I'll try to cut it down.

Also, sorry about not doing what you asked. I'm not completely familiar with how to use Github and haven't had the time yet to look up what you were asking me to do.

[2013-11-21 06:01] Sentinelrv commented on #19
Ok, I made 3 different versions. 1 is the best, but longest description. 2 is ok. 3 is too short and not descriptive enough in my opinion. If possible to fit it in, go with 1.
1. Peercoin offers technological advances over Bitcoin that allow its network to consume far less energy and achieve a higher degree of security and decentralization. This is achieved through an innovative minting algorithm

[2013-11-22 03:04] #20 closed, assigned to nobody

[2013-11-22 03:04] super3 commented on #18
Partly done in #19 but I think we need a good PoS page.

[2013-11-22 03:05] super3 commented on #14
Found it. https://github.com/ppcoin/bitaddress.ppc

[2013-11-22 03:09] super3 commented on #14
Hmmm. That doesn't look right. Closing until someone can find the original Peercoin BitAddress.

[2013-11-22 03:09] #14 closed, assigned to nobody

[2013-11-22 03:12] super3 commented on #21
I need a copy of the logo in PNG with a transparent background.

[2013-11-22 03:39] hireahenchman commented on #21
Hey I actually just finished fixing the logo up yesterday. Here’s both variations but with better letter spacing. Hope that helps :)

Cheers

[code]

Phone: (+64) 021 452255
Web: www.hireahenchman.co.nz

On 22/11/2013, at 4:12 pm, Shawn Wilkinson notifications@github.com wrote:

[2013-11-22 03:40] super3 commented on #21
Don't think Github will let you add attachments to a issue reply.

[2013-11-22 03:43] hireahenchman commented on #21
Ah ok - You can download them from here then: http://www.hireahenchman.co.nz/downloads/peercoin_logos.zip

Cheers

[code]

Phone: (+64) 021 452255
Web: www.hireahenchman.co.nz

On 22/11/2013, at 4:40 pm, Shawn Wilkinson notifications@github.com wrote:

[2013-11-22 04:02] super3 commented on #19
Social don't fit well at top, but they are in there. Open a new issue if I missed anything.

[2013-11-22 04:02] #19 closed, assigned to super3

[2013-11-22 04:04] #21 closed, assigned to nobody

[2013-11-22 04:16] pffff commented on #14
maybe just link to http://primecoin.org/bitaddress ?

[2013-11-22 06:20] Sentinelrv opened #23 ""Everything" is Missing its "y""
In the following paragraph, the word "everything" is missing it "y."

"We have developed a series of short video tutorials to help get you started. They cover everthing from setting up your first wallet, to trading and using Peercoin. Enjoy!"

[2013-11-22 07:23] rootsical commented on #21
looking good..

[2013-11-22 07:24] rootsical commented on #20
nice work.. just a little spelling error - it should be 'everything' in 'They cover everthing from setting up your first wallet'...

[2013-11-22 07:59] super3 commented on #23
Don't trust me with writing after 12am. Fixed per d3291a962fb8ee2b5b1c84d60f12f385fbdff394

[2013-11-22 07:59] #23 closed, assigned to nobody

[2013-11-22 17:13] Sentinelrv opened #24 "Can we Remove the Text Under Features?"
The text right under features is a slightly longer replica of the intro text. I don't think there's any reason to have people read almost the same exact thing twice. Can we remove it, but keep the "Features" title and then just move the three actual feature texts up further, so people get to the real content faster?

[2013-11-22 17:29] Sentinelrv opened #25 "Here are Tiny Social Media Icons to Place in the Top Right (White Icons Look Best)"
I don't know if you got my PM, but I opened this anyway because I believe it's too important. We need those social media icons in a high traffic area and the top right portion of the website is all open space. There are plenty of tiny minimalist icons available in the link below to choose from. I think its best to choose white icons, which would go perfect with all the buttons you have up there no

[2013-11-22 20:04] hireahenchman commented on #25
Hi - I don’t think i did get a PM. Was it via github? As I say i’m pretty useless at GitHub having never had to use it. I could certainly help fix up the social icons though you’ve kind of got me at a bad time. I’m away for the next week (leaving in about an hour) to go and get married. I think I’d get in a lot of trouble if I work too much. I may get an opportunity to photoshop up a mock design o

[2013-11-23 04:24] Sentinelrv commented on #25
Oh, I didn't know Super3 had someone helping him now. The PM I mentioned was to him. I don't have anything to give you but what's in that link. I don't want to get you in trouble, but it's very important that we get those icons/links up for Facebook, Twitter and Reddit before Monday when the New York Times article will hit. These links will funnel traffic into our social media pages, which we can

[2013-11-23 06:27] Sentinelrv commented on #24
Nevermind, iheartcryptocoin came up with something better.

[2013-11-23 06:27] #24 closed, assigned to nobody

[2013-11-23 08:05] hireahenchman commented on #25
ah all good I think i’m just getting email but don’t really know who they’re for :) - as long as you’re all sorted that’s sweet.

Cheers

[code]

Phone: (+64) 021 452255
Web: www.hireahenchman.co.nz

On 23/11/2013, at 5:24 pm, Sentinelrv notifications@github.com wrote:

[2013-11-23 23:42] super3 commented on #18
I think this is fixed as of e203c427e809c2f0e5c29865728917c929345c9d

[2013-11-23 23:42] #18 closed, assigned to nobody

[2013-11-23 23:45] super3 opened #27 "'Read More' JS Broken"
Does not show the full text when expanded:
![Imgur](http://i.imgur.com/5xngbTM.png)

[2013-11-24 00:02] super3 opened #29 "Make W3C Compliant"
Some broken tags. See [W3C Validator](http://validator.w3.org/check?uri=http%3A%2F%2Fpeercoin.net%2F&charset=%28detect+automatically%29&doctype=Inline&group=0).

[2013-11-24 00:14] iheartcryptocoin commented on #29
Looks mostly like social media image issues, I'll fix that first.  Then can strategize how to tackle previous message

Date: Sat, 23 Nov 2013 16:02:15 -0800
From: notifications@github.com
To: Peercoin.net@noreply.github.com
Subject: [Peercoin.net] Make W3C Compliant (#29)

Some broken tags. See W3C Validator.

—
Reply to this email directly or view it on GitHub.

[2013-11-24 00:22] iheartcryptocoin opened #30 "Need larger Coin logo for social media"
https://developers.facebook.com/tools/debug/og/object?q=http%3A%2F%2Fpeercoin.net

FB complaining

[2013-11-24 00:24] iheartcryptocoin opened #31 "Long term content management"
What can we do about a long term CMS?  Amongst other things, we'll need an area for all of the different news coverage,  a space for update videos, potentially a more organized archive of the weekly newsletters, lists/reviews of exchanges (and payment) processors as they come online etc etc.

What're we thinking for organizing this?

[2013-11-24 00:26] iheartcryptocoin commented on #27
This readmore works across browsers and platforms including landscape on mobile.

However it is broken in portrait on mobile because the 3 columns are reducing to two very narrow columns instead of 1 wider column through the responsive behavior.

[2013-11-24 00:27] super3 commented on #29
Please include the commit where this issue is fixed.

[2013-11-24 00:27] iheartcryptocoin opened #32 "Need to add a little bit of space beneath the logo in portrait mode on mobile."
Responsive makes logo flush with bottom of section, needs padding

[2013-11-24 00:31] iheartcryptocoin commented on #29
ff5ca99053c41dcbe4e2807a44dd0428406a49a8

[2013-11-24 00:31] #29 closed, assigned to iheartcryptocoin

[2013-11-24 00:33] super3 commented on #29
Ok. You can also fix from then commit by saying "Fixes #29" in the commit message

[2013-11-24 00:35] iheartcryptocoin commented on #29
I added a comment to the commit when closed this. How do you change the title itself?  It looks locked

[2013-11-24 01:01] Sentinelrv commented on #30
Do you need the link to our logo files? There are larger versions in there, as well as ones including the shadow under the coin. Here it is...

http://www.mediafire.com/download/9qf4iiqihla641r/Peercoin%20Logo%20Files.zip

[2013-11-24 01:38] Sentinelrv opened #33 "Text Edits"
I noticed some errors or things that sounded kind of funky. Maybe we can clean them up a bit. Here are some suggestions...
- Under the features section, this sentence: "Cryptcurrency must be sustainable to last the test of time as a form of money."

"Cryptocurrency" is missing its "o" and "last" should be changed to "stand." Here is the corrected version...

"Cryptocurrency must be sustainable to

[2013-11-24 02:22] iheartcryptocoin commented on #33
Thanks for reviewing.
- Google "last the test of time" and the first result will be "stand the test of time."  Pretty interchangeable and probably regional preference thing.

Speaking of regional issues - are you a native American/Canadian, UK,  Antipodean, SA, or etc etc English speaker?  There will be regional issues so should get that context out early anyway.  I speak American, UK, and Austral

[2013-11-24 02:44] iheartcryptocoin commented on #32
e939e982216a6a294aa816735a1ff3bcf6d3e7a6

[2013-11-24 02:44] #32 closed, assigned to nobody

[2013-11-24 02:45] iheartcryptocoin commented on #33
e939e982216a6a294aa816735a1ff3bcf6d3e7a6

[2013-11-24 02:46] iheartcryptocoin commented on #25
Noticed we're already using Font Awesome, can just use the font awesome icons instead of searching for sprites on google, will work on this

[2013-11-24 02:59] Sentinelrv commented on #33
I'm from America, New Jersey specifically. I've actually never heard anyone use the word last in a phrase like that. It has always been stand. I'm ignorant though of how other countries use the phrase. About the an, I'm not a grammatical expert, so I could be wrong here. It just sounded strange and incomplete when I said the sentence aloud. About the coding, I'm not a coder so I can't help you the

[2013-11-24 03:03] Sentinelrv commented on #33
I think I'm going to post a thread asking people to analyze all the changes so far to make sure there isn't anything we're missing like misspellings, grammatical errors. They can also give feedback on what's actually written. Could you watch and respond to this thread just in case there are any great ideas? I'll include a link when I get it up.

[2013-11-24 03:17] Sentinelrv commented on #33
Here is the feedback thread I made. Please watch it in case anyone posts anything...

http://www.peercointalk.org/index.php?topic=1060.0

[2013-11-24 03:34] iheartcryptocoin commented on #25
Bad News, Font awesome has discontinued the reddit icon.  Here are three alrenatives we can download and use.  For now I am linking directly

https://www.iconfinder.com/icons/60825/blue_button_facebook_social_icon#size=128

https://www.iconfinder.com/icons/60844/button_reddit_social_icon#size=128
https://www.iconfinder.com/icons/60859/blue_button_round_social_twitter_icon#size=128

[2013-11-24 03:39] iheartcryptocoin commented on #33
Thanks, that's perfect.  I don't know why other folks haven't been chiming in on this so that just the encouragement that they need!

[2013-11-24 03:40] iheartcryptocoin commented on #33
And you've got a great eye for editing, so keep it up. It's always better and easier to edit after someone else writes because the first author is invariably too close to the text haha.  If you write anything let me know and I'll def do the same for you. :-)

[2013-11-24 03:47] iheartcryptocoin commented on #31
Shawn,

@Sent and I made a few final tweaks (two spelling errors and moved social icons).  Can you take a look and update live site at your convenience?

If there is a way to update live site from GH directly let me know and I'll save you the time

[2013-11-24 04:15] super3 commented on #31
We will need to talk about commit and release strategy before I enable automatic updates.

[2013-11-24 04:48] Sentinelrv commented on #25
Ben from the forum said he owns a bunch of different icons like the white ones I posted in chat earlier, so he's going to try to figure something out tomorrow. I think what you have on there right now is fine until he can get the better looking versions up.

[2013-11-24 05:47] Sentinelrv opened #34 "Please Add Logo with Shadow Underneath (Concept Image Inside)"
I made up a concept image of the logo with the shadow under it on the website and I think it looks a hundred times better. It really makes it pop out at you. Here it is...

http://i2.photobucket.com/albums/y17/Sentinelrv/Other-Images/PPCWebsiteLogoShadow.png~original

Here are all the logo files in case you need them. Go to this path to find the right image:

Path: Peercoin Logo Files\Icon Only\Wi

[2013-11-24 05:55] Sentinelrv opened #35 "Twitter & Reddit Buttons are Reversed"
It was reported to me that the Twitter button links to Reddit and the Reddit button links to Twitter.

[2013-11-24 07:07] #35 closed, assigned to nobody

[2013-11-24 07:07] iheartcryptocoin commented on #35
The Eye is freaking everyone out, added in a lightbulb, also redid social icons

[2013-11-24 07:11] iheartcryptocoin opened #36 "Recuit for team roles"
1-2 SCRUM/otherwise AGILE familiar folks
1-2 UX experts
2 additional HTML/CSS/JS experts
2 additional committed content editors
4-5 Text\Article Writers
2-3 Graphics experts
2-3 Video experts for improved youtube tutorials

[2013-11-24 15:47] super3 commented on #36
Agreed. I think the Text/Article writers are the top priority though.

[2013-11-24 18:04] super3 opened #37 "Energy Efficiency Bug"
The words "the algorithm" are cut off at the bottom.

[2013-11-24 20:13] rootsical opened #38 "horizontal scroll bar"
![website_h_scroll_bar](https://f.cloud.github.com/assets/1428831/1609456/b72e09d8-5544-11e3-8624-f4d92ed0a723.png)

horizontal scoll bar should not show i guess?

[2013-11-25 01:20] super3 commented on #38
Meh. That shouldn't happen. Some more details so we can figure out how to fix it?

[2013-11-25 03:34] super3 opened #40 "Change TTL"
https://www.digitalocean.com/community/questions/lower-ttl-value-on-dns-records

[2013-11-25 03:54] Sentinelrv opened #41 "Please Host Updated Logo Files and Link them at the Bottom of the Website"
Could you please host the updated logo files and add a link to them at the bottom of the website? You can download them here...

http://www.mediafire.com/download/9qf4iiqihla641r/Peercoin%20Logo%20Files.zip

[2013-11-25 04:10] iheartcryptocoin commented on #37
789f3ef7efa5ff58bbe3fbc58814ea442eb80366

[2013-11-25 04:10] #37 closed, assigned to iheartcryptocoin

[2013-11-25 04:11] iheartcryptocoin commented on #38
Can you check to make sure your browser zoom isn't on some weird level?

What bowser/OS are you using?

[2013-11-25 04:12] iheartcryptocoin commented on #36
Let's loop John in on this and see who he has on the volunpeer list

[2013-11-25 04:16] iheartcryptocoin commented on #34
Would if I could, but  still cannot upload image files to the repo.  #30 is directly related to this as well - we need to host a slightly larger logo for social media outfits to pull when link gets posted/ also look good on retia displays.  This is all low priority but if the images are being uploaded please make sure to copy a high res version directly into our images folder so it can be linked a

[2013-11-25 05:18] Sentinelrv commented on #33
How about this sentence instead suggested by Roostical in the thread I linked...

"Peercoin is an advanced and sustainable cryptocurrency"

I just can't get over the sentence that's there right now. It doesn't sound right the way it currently is.

[2013-11-25 07:32] iheartcryptocoin opened #42 "Responsiveness fixes: 1) column responsiveness broken on mobile, 2) JS "read more" not responsive"

[2013-11-25 07:37] #42 closed, assigned to iheartcryptocoin

[2013-11-25 10:14] Sentinelrv commented on #34
The voting is over and people want to see this happen.

[2013-11-25 23:26] Sentinelrv opened #43 "Please Add the Volunteer Link Back to the Top of the Website"
Please add the volunteer survey link back to the top of the website. This is very important in gaining new activits and getting them moving forward...

http://www.surveymonkey.com/s/J9RNLPH

Not sure who removed it, but it's VERY important.

[2013-11-26 17:33] iheartcryptocoin commented on #27
439c6ba97e831ea8bfc4c7da99c9c4aad89790aa

[2013-11-26 17:33] #27 closed, assigned to iheartcryptocoin

[2013-11-26 17:34] iheartcryptocoin commented on #25
ae0d91001296fee1b1224a8db1109a61ed0cb7df

[2013-11-26 17:34] #25 closed, assigned to iheartcryptocoin

[2013-11-26 17:34] #33 closed, assigned to iheartcryptocoin

[2013-11-27 20:44] #41 closed, assigned to nobody

[2013-11-27 20:45] #43 closed, assigned to nobody

[2013-11-27 20:58] super3 commented on #34
Having trouble sizing it correctly. The shadow logo is in the /img directory if @iheartcryptocoin want to take a swing.

[2013-11-27 20:59] super3 opened #44 "Better Deploy Method"
Server is reliant on Github, and will delete the website if Github is down for more than an hour.

[2013-11-27 23:51] iheartcryptocoin opened #45 "Branding conversation"
In the chat we talked about incorporating more green into the site to play off of our sustainability and security identity.

There has been lots of chat about PoS - had an idea how to market the idea in addition to being green and secure..  Another tag line could include the idea of  that Peercoin rewards you for using it.  EG

Peercoin - Stake claim to your reward.

Or something similar.

Can do

[2013-11-27 23:59] super3 commented on #45
I don't think color changes at this point are warranted. The website is very sparse right now, its just essentially a collection of links. We have a bounce rate of about 80% right now.

We need to focus on adding a few more page of content before we do that. But I agree on the click through.

[2013-11-28 04:59] Sentinelrv commented on #45
I'm afraid that tag line won't mean anything to people who don't know yet what proof-of-stake is. I like the tag line we have now: "The sustainable and secure cryptocurrency". It pretty much says everything we need it to right? Peercoin is sustainable because it doesn't require vast amounts of energy to function, which also makes it more secure.

I also think we should limit how much green we use.

[2013-11-28 05:00] super3 commented on #45
Perhaps we should have an infographic made that explains it. Better than a wall of text trying to explain it. Another 99designs contest?

[2013-11-28 06:54] Sentinelrv opened #46 "ppcoin.org Not Redirecting"
As of this moment, ppcoin.org isn't redirecting. Is this because of the server change? Does Sunny need to be notified?

[2013-11-28 11:14] super3 commented on #46
Yes. We probably need to do some work to get old websites to switch domains.

[2013-11-30 08:09] pffff opened #47 "bitaddress"
put a link on the webpage linking to http://primecoin.org/bitaddress

[2013-11-30 08:11] pffff opened #48 "twitter logo"
update the twitter logo with the correct one:

https://about.twitter.com/press/brand-assets

[2013-11-30 09:12] pffff opened #49 "mining links"
replace  http://fuzzypool.org/pool/  with http://theseven.bounceme.net/~theseven/pool/

Right now it links to fuzzypool, where nobody is mining, and it doesn't even seem to work. TheSevens pool is working, and people are mining there actively

[2013-12-02 08:42] super3 commented on #44
Fixed.

[2013-12-02 08:42] #44 closed, assigned to super3

[2013-12-02 08:44] super3 commented on #49
Create a Fork of the repo. Go to the index.html page, and click the edit button. Commit it, then submit a pull request here.

[2013-12-05 01:58] iheartcryptocoin opened #52 "video doesn't fit in responsive mobile website"

[2013-12-05 02:02] iheartcryptocoin commented on #52
7c1db57a05

[2013-12-05 02:02] #52 closed, assigned to super3

[2013-12-05 02:03] iheartcryptocoin commented on #52
Shawn - already fixed - assigned to you to keep in loop

[2013-12-05 02:04] super3 commented on #52
Cool. That is better.

[2013-12-05 02:21] iheartcryptocoin commented on #52
initially tested the bootstrap column css to try to force a resize.  Didn't work at all as you saw.

We have to go with the hardcoding for now, in lieu of a finding framework that can make video containers responsive

[2013-12-05 02:23] super3 commented on #49
Fixed in b8238119a87edee52afc9aacd8ed80a5f9ab1e3d

[2013-12-05 02:23] #49 closed, assigned to nobody

[2013-12-05 02:23] super3 commented on #46
Nothing I can do on this end. Closing.

[2013-12-05 02:23] #46 closed, assigned to nobody

[2013-12-05 15:35] JohnManglaviti opened #53 "Replace Volunteer Link with Google Docs"
Please change the volunpeer link on website to:

https://docs.google.com/forms/d/1uJbNEJThRc3TqnwbVVrd__UQWVUOOr4QSEMbMIIF--s/viewform

[2013-12-05 19:15] #48 closed, assigned to nobody

[2013-12-05 19:20] #47 closed, assigned to nobody

[2013-12-05 19:20] super3 commented on #45
Closed for later discussion.

[2013-12-05 19:20] #45 closed, assigned to nobody

[2013-12-05 19:21] #53 closed, assigned to nobody

[2013-12-05 19:24] super3 commented on #53
Changed. Next time I ask that you please do a pull request using the online Github editor. It's simply more convenient for all of us.

[2013-12-05 19:26] super3 commented on #38
Closing until @rootsical can provide us more details so that we can fix this issue.

[2013-12-05 19:26] #38 closed, assigned to nobody

[2013-12-05 19:30] super3 commented on #40
Opened a Digital Ocean support ticket. Hopefully will be resolved soon.

[2013-12-05 19:30] #40 closed, assigned to super3

[2013-12-05 19:31] super3 commented on #36
Don't think any more progress can be made on this issue on Github. I think this is more a recruiting task. Closing for now.

[2013-12-05 19:31] #36 closed, assigned to nobody

[2013-12-05 19:59] super3 commented on #31
These seem like some good solutions:
- [Pico](http://pico.dev7studios.com/)
- [Fork-CMS](http://www.fork-cms.com/)
- [Anchor CMS](http://anchorcms.com/)

[2013-12-05 19:59] #7 closed, assigned to super3

[2013-12-05 20:01] super3 opened #54 "Install CMS System"
Per #31. These seem like some good solutions:
- ~~[Pico](http://pico.dev7studios.com/)~~
- [Fork-CMS](http://www.fork-cms.com/)
- ~~[Anchor CMS](http://anchorcms.com/)~~

[2013-12-05 20:01] #31 closed, assigned to super3

[2013-12-05 20:07] super3 opened #55 "Increase Pagecount"
Template is currently on the 'index.html' page.
- [x] Split into a header, page body, and footer.
- [x] Use SSS(perhaps PHP), to join fragments

Bounce rate is too high. Need to add additional content pages:
- [x] Mining Info
- [x] Exchange Info

Furthermore:
- [ ] Download Page
- [ ] Video Tutorial Page(s)
- [ ] What is Proof of Stake?

[2013-12-05 20:13] super3 opened #56 "Template Change?"
Original:
- [Fasi - Responsive Mobile App Theme](https://wrapbootstrap.com/theme/fasi-responsive-mobile-app-theme-WB061D706)

Perhaps something better?
- [GOOD - Flat Corporate Theme](https://wrapbootstrap.com/theme/good-flat-corporate-theme-WB0708887)

[2013-12-05 22:14] rootsical commented on #38
sorry, i should have said, it's been fine for a while..

[2013-12-05 22:15] super3 commented on #38
Cool. Thanks for the heads up.

[2013-12-06 06:12] Sentinelrv commented on #34
Are you guys still having trouble with this?

[2013-12-06 06:18] Sentinelrv commented on #56
I don't know about that. I really love what you have up there now. The design was even complemented on by a recent news article as a reason people might want to invest their money in us.

[2013-12-06 15:58] iheartcryptocoin commented on #54
good research, will take a look at these this evening

[2013-12-06 16:01] iheartcryptocoin commented on #55
- [ ] Written tutorials  (install wallet, mod for PoS, etc)
- [ ] FAQ
- [ ] Glossary of Common Terms

[2013-12-06 17:29] super3 commented on #56
With a little work I think we can out do it by several times.

[2013-12-15 02:21] JohnManglaviti opened #58 "Request to Add Press Tab"
Request to add a press tab (next to volunteers) that has a dropdown:

Press
- Articles and Interviews

Link to here: http://www.peercointalk.org/index.php?topic=1603.0
- Press Kit

Link to here: http://www.peercointalk.org/index.php?topic=1616.0
- Request an Interview

Maybe a form that emails the following addresses:

john.manglaviti@gmail.com
sunnyking9999@gmail.com

[2013-12-21 02:05] super3 commented on #58
Way to crowded in the the top bar. Will need to figure out a better way to do this.

[2013-12-21 06:12] jooize opened #60 "Typos"
“Peercoin also employs other advanced security features including enforcing transaction fees at protocol level to defend against block bloating
attacks./p>” under Increased Security

“hashes.This” under Energy and Cost Efficiency

“Peercon is just a clone of Bitcoin.”

[2013-12-21 06:41] super3 commented on #34
New website, new design. If this is still relevant after the new design, let me know and I will reopen.

[2013-12-21 06:41] #34 closed, assigned to iheartcryptocoin

[2013-12-21 06:41] #30 closed, assigned to Sentinelrv

[2013-12-21 06:42] super3 commented on #58
Those need to be something other than empty to add them to the website.

[2013-12-21 06:42] #58 closed, assigned to nobody

[2013-12-21 06:44] super3 commented on #56
Addressed in [Good](https://github.com/super3/Peercoin.net/tree/good) branch.

[2013-12-21 06:44] #56 closed, assigned to nobody

[2013-12-21 06:46] super3 commented on #54
Ideally most of the website will remain static HTML. Might add some PHP just to make templating easier.
We will add one of those 3 CMS systems for managing our Docs/Help sections.

[2013-12-21 12:58] ghost opened #62 "Beta page"
Just some tweaks/feedback for the beta site.

Under Original Innovation
network "is" maintained, also why link the word "pool" to a bitcoin pool? If you want to link to something maybe an article would be better or no link at all.

FAQ
If you click on the headers they remain blanked out until you click off.

Tell me more about security
there's an extra /p>  at the end.

Myth #2
Checkpoint or Check

[2013-12-24 07:00] #62 closed, assigned to nobody

[2013-12-24 07:02] super3 commented on #60
Fixed 2ec32e675b7dcb872c39c5fbf213e0e5caabe6c9

[2013-12-24 07:02] #60 closed, assigned to nobody

[2013-12-24 19:06] Sentinelrv opened #66 "Can you Replace the Peercoin Text in the Top Left with our Text Logo?"
We have two logos, the coin logo and the text logo with the leaf in it. I believe you should replace the generic Peercoin text in the top left with our text logo. It's the perfect place to put it. There are light and dark versions of the text logo. It might be best to use the dark version since it's on a white background.

[2013-12-27 02:45] ghost commented on #66
+1, the logo would definitely look very nice. There's the text only ones (and others) here : http://sourceforge.net/projects/ppcoin/?source=dlp

[2014-01-02 18:36] super3 opened #72 "Templatize With PHP"
Split Index into header.php and footer.php(then join with includes), so we can add more pages to the website. If you know a better way to do this please let me know.

[2014-01-02 18:37] super3 opened #73 "Add Mining, Minting, and Resources Page"
After Issue #72 is complete then convert these pages to the PHP template, and add them to the navigation bar.

[2014-01-02 21:52] #66 closed, assigned to nobody

[2014-01-04 16:10] super3 opened #89 "Add Back Multi-Language Whitepapers"

[2014-01-04 16:10] super3 opened #90 "Logo Goes to index.html which doesn't exist anymore"

[2014-01-04 16:11] #72 closed, assigned to nobody

[2014-01-04 17:23] #89 closed, assigned to jvanoel

[2014-01-04 17:23] #90 closed, assigned to jvanoel

[2014-01-04 20:43] #73 closed, assigned to jvanoel

[2014-01-04 20:57] super3 opened #97 "Create 'Download' Page"
Should replace the [sourceforge link](http://sourceforge.net/projects/ppcoin/files/0.3.0/), and link directly the sourceforge files for Windows and Linux.

**Further Ideas:**
- Add OSX Binaries.
- Eliminate Sourceforge altogether and use GPG signed binaries.

[2014-01-04 21:10] super3 opened #99 "Create 'What is Proof-of-Stake' Basic Page"
This page should include very general introduction that the average Joe crypto can understand. Should probably contrast "Mining and Minting".

[2014-01-04 21:16] super3 opened #100 "Create 'Why Peercoin' Page"
This page should be more on the graphic side. Should compare Peercoin to other cryptocurrencies and with pretty charts and pictures. Should touch on its strong points in security and energy efficiency.

A nice feature table would be nice. Should also include stuff like number of block, minting rate, etc.

[2014-01-04 21:19] super3 commented on #55
See issues #100, #99, #97

[2014-01-04 21:19] #55 closed, assigned to nobody

[2014-01-04 21:21] super3 opened #102 "Translate to Chinese"
At the very least the homepage and download page should be translated.

[2014-01-04 21:25] super3 opened #103 "Change Tutorial Links"
Links and images in the 'Tutorials' section should point to the /docs tutorials for mining, mining, and resources rather than the video tutorials.

[2014-01-05 18:46] super3 opened #107 "Increase Page Click-through"
Currently all pages are buried in Docs. Make it more apparent that we have these pages.

[2014-01-05 19:27] MeBeingAwesome opened #108 "Move Vault of Satoshi to main section of Exchanges on front page"
Move Vault of Satoshi to main section of Exchanges on front page. We need them featured prominently because they offer USD/PPC trading.

[2014-01-05 19:29] super3 commented on #108
@ngbatnicdotmil can you take care of this?

[2014-01-05 19:30] ngbatnicdotmil commented on #108
sorry I didn't get you

Date: Sun, 5 Jan 2014 11:29:31 -0800
From: notifications@github.com
To: Peercoin.net@noreply.github.com
CC: ngbatnicdotmil@outlook.com
Subject: Re: [Peercoin.net] Move Vault of Satoshi to main section of Exchanges on front page (#108)

@ngbatnicdotmil can you take care of this?

—
Reply to this email directly or view it on GitHub.

[2014-01-05 19:31] JohnManglaviti opened #109 "Add Press Links"
As requested, I populated the posts. Please create a Press dropdown for the following links:

Press - Press Kit

http://www.peercointalk.org/index.php?topic=1616.0

Press - Articles and Interviews

http://www.peercointalk.org/index.php?topic=1603.0

Press - Schedule an Interview with Sunny King

(Simple form where they could send Sunny an email, have it send to:

sunnyking9999@gmail.com
john.mangl

[2014-01-05 20:53] pffff opened #111 "VoS link move to"
could you move Vault of Satoshi to the main exchanges section of peercoin.net ? They're great and have a USD/PPC trading pair that we need to be promoting

(on behalf of MeBeingAwesome)

[2014-01-05 20:53] pffff commented on #111
double post

[2014-01-05 20:53] #111 closed, assigned to nobody

[2014-01-06 16:34] #97 closed, assigned to jvanoel

[2014-01-06 19:55] #103 closed, assigned to jvanoel

[2014-01-06 19:55] #107 closed, assigned to jvanoel

[2014-01-07 06:42] Sentinelrv commented on #109
John, that Coindesk article has the wrong title. Also, should we include the New York Times article?

[2014-01-07 06:47] Sentinelrv opened #122 "Create a drop down menu Titled Guides"
I noticed we have new guides for setting up minting and how to mine. I think we should put them both under a drop down menu called "Guides" to make room for more items like the Press link.

[2014-01-07 07:28] super3 opened #124 "Reduce Titles to 'Mine' and 'Mint'"
Based on #122

[2014-01-07 18:41] JohnManglaviti commented on #109
1. Coindesk article fixed, thanks.
2. I don't want to pick and choose links, I have no time to do that.  If the community wants to setup some type of 'remove' option, I'm fine with it.   Right now, we need something.

[2014-01-07 18:42] JohnManglaviti opened #125 "Request: Add MarketCap to the front page"
I'd like to see the marketcap on the front page.  From the post we saw earlier today from OKCoin, it's clear that most don't have any idea how large Peercoin is in terms of market cap.

[2014-01-07 20:31] super3 commented on #125
Agreed. We can stick it right under 'Why Peercoin?'
It can have the price on the left, and market cap on the right updated in realtime with javascript.

[2014-01-07 20:34] jvanoel commented on #125
Maybe even below the two buttons in the header. Then people see it right away for sure without any scrolling?

[2014-01-07 20:36] super3 commented on #125
Don't think that we have enough space for that to work on mobile too.

[2014-01-07 20:46] jvanoel commented on #125
I'll make it so it fits. Here I just gave the <header> some more height: http://d.pr/i/FsUG
The background coin will be placed a bit more higher so it's in the center of the tagline like the desktop version.

If you think below "Why Peercoin" is better, it's fine as well though.

[2014-01-07 21:00] super3 commented on #125
Sure if it fits, and works on mobile that is fine. @jvanoel how good are you at js?

[2014-01-07 21:05] jvanoel commented on #125
I'm not that into javascript. So if someone can fix the output for me, I can style it..

[2014-01-07 21:42] super3 commented on #125
Ok I'll try to figure that out.

[2014-01-07 21:42] super3 commented on #125
Can you make a mockup?

[2014-01-07 21:48] super3 commented on #124
Fixed in 7edd206d1910364e0ee27ba28d0cb4b8a2bb697f

[2014-01-07 21:48] #124 closed, assigned to jvanoel

[2014-01-07 21:48] #122 closed, assigned to nobody

[2014-01-07 23:43] #108 closed, assigned to jvanoel

[2014-01-08 09:41] d5000 opened #129 "Translations to German and Spanish"
I can contribute translations into German and Spanish. Are the basic introductory articles now stable so I can translate them? How can I enter them in the system?

[2014-01-08 18:58] super3 commented on #129
So yes you can translate to german and spanish. Still trying to figure out a better system for translation. Let me get back to you on that.

[2014-01-08 19:01] super3 commented on #129
As per #54 I am going to install Fork CMS. This should provide us with the tools to easily handle translation.

[2014-01-09 00:10] Gnewt commented on #129
I'm ready to write a Spanish translation. Shall I hold off until the CMS is implemented?

[2014-01-09 00:14] super3 commented on #129
You can write the translations, just going to have to copy paste them in the CMS. I'll try to get it working soon.

[2014-01-09 00:18] Gnewt commented on #129
Sounds good. Do you have a preference now for how translations should be submitted or should the pull request hold off until a CMS?

[2014-01-09 00:19] super3 commented on #129
You can put in a pull, so that I see its ready if you want. No preference,
till I get something up and running.

On Wed, Jan 8, 2014 at 7:18 PM, Nick Mooney notifications@github.comwrote:

##

Shawn Wilkinson
Student, Morehouse College
Bitcoin Developer/Entrepreneur/Enthusiast
(1P4QkLsujBPBZyUwDezikL4fUSs7JvFhPv)
me@super3.org
http://super3.org

[2014-01-09 00:21] super3 commented on #129
You can put in a pull, so that I see its ready if you want.

On Wed, Jan 8, 2014 at 7:18 PM, Nick Mooney notifications@github.comwrote:

##

Shawn Wilkinson
Student, Morehouse College
Bitcoin Developer/Entrepreneur/Enthusiast
(1P4QkLsujBPBZyUwDezikL4fUSs7JvFhPv)
me@super3.org
http://super3.org

[2014-01-09 01:31] Gnewt commented on #125
Where would market cap and price be sourced from?

[2014-01-09 01:40] super3 opened #132 "Add Market Stats Widget"
From #125 we need to create a javascript market cap widget. This will also be used for Primecoin's website so it should be extensible.

It should show:
- Current price per coin
- Total coins
- Market Cap

@jvanoel will handle the design, but we still need a javascript guru to handle the data. Will look around. @jvanoel can you add a mockup screenshot here?

**Option #1:**
Rip data from [Coinmarket

[2014-01-09 01:40] #125 closed, assigned to nobody

[2014-01-09 01:42] super3 commented on #54
Looks like I will be using Fork CMS for this as it supports multiple languages.

[2014-01-09 01:47] #102 closed, assigned to nobody

[2014-01-09 02:26] super3 opened #133 "Rethink Bounty Process"
If we switch over to a CMS we need to rethink out current [tip4commit](http://tip4commit.com/projects) strategy. Some notes:
- Can request back our funds from [tip4commit](http://tip4commit.com/projects), and put them toward a manually paid bounty system?
- Can we perhaps keep the template files for Peercoin.net in the repository, and still use it for issue tracking, empty commits for auto-payment

[2014-01-09 03:05] d5000 commented on #129
Ok, so Gnewt you can do the Spanish one? Then I will do only the German translation. Thanks!

[2014-01-09 19:18] jooize opened #134 "Rewrite URLs (fancy, without .php)"
Rewritten URLs look far better and make changing the engine providing pages simpler in the future.

I don't know how pages are managed right now, but I see Apache 2.2.22 is used.
https://httpd.apache.org/docs/2.2/rewrite/
### Effect

[code]

would become

[code]

[2014-01-09 20:06] d5000 opened #135 "Myth #2 cointains errors"
As we have seen in the reddit/Peercointalk discussion regarding checkpointing, Sunny King's cite in Myth #2 is reffering to Primecoin (XPM), not to Peercoin (PPC). So this must be changed, otherwise we are spreading misleading information.

My suggestion (please correct if there are grammatical/stylistic errors, as I am no english native speaker):

---

Checkpoints are an additional security measu

[2014-01-09 20:16] Gnewt commented on #135
I almost included this in my last commit but left it alone because I figured we wanted the quote to stay native. If we do away with the quote (which I personally think is a good idea), something like this would be beneficial. I am not a fan of how the quote is written and I think it takes away from Peercoin's sense of legitimacy.

[2014-01-09 20:16] Gnewt commented on #134
super3 is implementing a CMS soon, which should allow pretty URLs. I think this should wait until after the CMS is implemented.

[2014-01-09 20:20] Gnewt commented on #133
I would be happy to host a [BitHub](https://whispersystems.org/blog/bithub/) instance for Peercoin.net to give us finer grained control, if there is interest in that at all. I particularly like the ability to mark a certain commit as a FREEBIE which allows very small changes not to be counted in the auto-payout system.

I also think it's worth looking at other choices like [Jekyll](http://jekyllrb

[2014-01-09 20:23] Gnewt commented on #133
For example, a pull request that just removes an arbitrary space can be marked with the message "//FREEBIE" to be exempt from the bounty system.

[2014-01-09 20:24] Gnewt commented on #132
I can do the JavaScript easy peasy! Any preference between CoinMarketCap and Vircurex? CMC provides both of the pieces of info we want, but I don't know how friendly they are with scraping their page (+ it would cause all Peercoin.net visitors to consistently request the whole CMC site in the background). I think Vircurex probably makes more sense, though the results I'm getting from their API are

[2014-01-09 20:25] Gnewt commented on #129
I definitely can, but I am not a native Spanish speaker so I'd love some review by others first. If someone who speaks Spanish natively would like to do the translation I'd defer to them.

[2014-01-09 20:41] Gnewt commented on #132
Vircurex's weirdness is probably caused by there being no direct USD/PPC volume. I think we'll get better results with two API calls -- one to get PPC/BTC price, one to get BTC/USD price. Does that sound reasonable?

[2014-01-09 21:13] d5000 commented on #129
I am a native speaker in both languages (German and Argentine Spanish). So I can review your spanish translation.

[2014-01-09 22:41] super3 commented on #132
Yeah I actually was working on a project to turn CMC into a json stream, but just got busy. Yeah that's what I was thinking and/or could use Bitcoin Average for BTC/USD price. Either one works.

[2014-01-09 22:43] super3 commented on #135
Just come up with something better and we will replace it. I'm not tied to it, its just what we have.

[2014-01-09 22:46] super3 commented on #134
Yeah ideally we would be using mod_rewrite, but I'm just being lazy. The CMS might not get done till February, so might be worth doing a mod_rewrite. If someone can do this, provide me with an SSH key via my email, and I'll give you server access.

[2014-01-09 22:57] super3 commented on #133
I think that we be great. I'm totally OK with paying out, and I want to encourage small fixes, but of course they should get a relative amount like $1. Perhaps the payout should be be based on a ranking system from 1 to 5 based on the quality of the commit

1 - Comma Fix
5 - Major Feature Addition

[2014-01-09 22:59] super3 commented on #133
As much as I like Github, I think this presents a barrier for other users who would like to contribute. They don't have the experience with Github and HTML, which is 75% of the work. What we need is more content and translations.

This is why I went with Fork because I think it would allow us to do all those things with ease.

[2014-01-10 00:22] Gnewt commented on #132
To avoid cross-domain issues, I think it makes sense to cache that data on the peercoin.net server and then update live from that file. Here's a workflow I see:

Client:
1. User visits Peercoin.net
2. Script on peercoin.net asks for peercoin.net/tickerinfo.php or something similar

Server:
1. tickerinfo.php loads cached price/volume from database (assuming we can use MySQL?)
2. If it's more than x

[2014-01-10 00:28] super3 commented on #132
Sounds like a plan. I'd rather use Sqlite3 than maintain a database. I might have some code for this already, but you have to make it work.

https://github.com/super3/millib

[2014-01-10 00:41] d5000 commented on #135
Is my suggested text too bad English, or why is there a need for another text?

[2014-01-10 03:25] d5000 commented on #129
OK, first draft of German translation of the start page is almost complete (with the exception of Myth#2 - #135 - where we must see how we can change it). I have noted some parts of the page could be more newbie-friendly. Would it be OK if I change them a little bit (in my translation) and explain terms like "proof of work", above all in the FAQ section?

[2014-01-10 06:39] super3 commented on #135
I believe this was fixed with #138

[2014-01-10 06:39] #135 closed, assigned to nobody

[2014-01-10 07:37] #132 closed, assigned to nobody

[2014-01-10 07:58] super3 commented on #129
Sure.

On Thu, Jan 9, 2014 at 10:25 PM, d5000 notifications@github.com wrote:

##

Shawn Wilkinson
Student, Morehouse College
Bitcoin Developer/Entrepreneur/Enthusiast
(1P4QkLsujBPBZyUwDezikL4fUSs7JvFhPv)
me@super3.org
http://super3.org

[2014-01-10 14:06] super3 opened #154 "Ticker Looks Broken"
Returning 0 values:

[code]

[2014-01-10 15:09] Gnewt commented on #154
That's because CoinMarketCap is showing all "?" for Peercoin :/... what gives? I can contact them if you'd like.

[2014-01-10 15:27] super3 commented on #154
Our block explorer is down so they can't resolve our block count. Can you
please contact them with the new one

http://blockexplorer.peercointalk.org
On Jan 10, 2014 10:09 AM, "Nick Mooney" notifications@github.com wrote:

[2014-01-10 16:32] Gnewt commented on #154
I sent Gliss (the maintainer of CMC) a PM on BitcoinTalk with a link to the new block explorer. I'll update this issue when Gliss responds.

[2014-01-10 16:40] Gnewt commented on #133
I've contacted tip4commit to ask about their policy for returning funds.

I've also played a bit with (BitHub)[https://github.com/WhisperSystems/BitHub] and I think it looks very promising. I could easily fork the repo and add varying levels. Right now it already gives us the ability to mark useful commits with "MONEYMONEY" and only pay out for those, but I like the idea of paying for every commit

[2014-01-11 01:14] Gnewt commented on #99
I'd be happy to write this up -- do you still want to do it, @Kerberus35?

[2014-01-11 03:08] super3 commented on #99
Go for it @Gnewt

[2014-01-11 20:21] super3 opened #166 "Add Physical Contact Info"
Needs to be added to [http://peercoin.net/downloads.php](http://peercoin.net/downloads.php)

[2014-01-11 20:21] super3 opened #167 "Add Terms of Service"
Terms of Service (TOS) or End User License Agreement (EULA.) Ideally the EULA would be right next to every download button.

[2014-01-11 20:22] super3 opened #168 "Create Uninstall Page"
Uninstall page with directions on how to uninstall software.

[2014-01-11 21:12] Gnewt commented on #154
@super3, Gliss asked me: "hey, would you be able to enable the API so I can grab the total money supply?"
Are you in touch with the operator of the block explorer?

[2014-01-11 22:30] super3 commented on #154
I think it's Fuzzybear from the forum.

[2014-01-11 22:41] Gnewt commented on #154
The ticker is working again (has been for a little bit). I let Gliss know to talk to Fuzzybear.

[2014-01-11 22:41] #154 closed, assigned to Gnewt

[2014-01-11 23:32] super3 commented on #154
Perhaps we need to upgrade tickerinfo.php. The current system works, but I think the way we implemented it doesn't seem scalelable.

[2014-01-11 23:42] Gnewt commented on #154
Happy to change it up. Are your concerns on scalability based on the fact that it sources data from CoinMarketCap, or that the update mechanism is not separate from the mechanism that presents the data to the user? Currently the server won't make requests to CoinMarketCap any more frequently than 30 seconds apart.

[2014-01-11 23:49] super3 commented on #154
Well now that you say that we should have 2 sources to get this data from. And if they both fail then it should be automatically disappear from the front page instead of displaying errors on the front page.

Secondly we need to implement it 100% client side with javascript. The PHP tickerinfo.php will be an external API that we can all on a separate server.

[2014-01-12 00:49] super3 commented on #154
Both. It works fine I just want to address all the points of possible
failure.
On Jan 11, 2014 6:42 PM, "Nick Mooney" notifications@github.com wrote:

[2014-01-12 02:12] Gnewt commented on #133
tip4commit had this to say:

[code]

So first off, is that a Bitcoin address you own, @super3?
I would prefer hosting a BitHub instance where we can control the tip levels but that's just my own opinion.

[2014-01-12 02:53] super3 commented on #133
Yes, I believe so. I started the repo donation, and donated 1 BTC.

Honestly, I think we could totally stay with tip4commit if they open sourced the code. At this point we only need one feature, the ability to pay very small tips, for the super small fixes that people submit.

I'm pretty sure Peercoin.net has paid out more tips than the rest of the website combined.

[2014-01-12 03:03] super3 commented on #99
Fixed 77b7f67cbc13c19134fcf671c56d3a8f70c2eef5

[2014-01-12 03:03] #99 closed, assigned to Gnewt

[2014-01-13 20:15] #109 closed, assigned to jvanoel

[2014-01-17 05:56] d5000 commented on #129
German translation is ready, with the exception of Myth #2, which is still discussed at Peercointalk.. So when the CMS is installed, I can add it to the website.

[2014-01-25 21:19] Sentinelrv opened #184 "Can we Fix the Slogan?"
From my understanding, the slogan used to say "The Sustainable & Secure Cryptocurrency." We then agreed on the forum to switch the words around so that it read "The Secure & Sustainable Cryptocurrency."

I asked Kappamale on the subreddit to fix the slogan to reflect this, but he notified me that even peercoin.net didn't say that. I checked and currently the slogan is shortened to just "Sustainabl

[2014-01-27 04:53] super3 commented on #184
I agree with you 100%

[2014-01-29 07:15] rootsical opened #186 "redirect io to net?"
maybe there should be a discussion about this, but at the moment the peercoin.io address does not redirect to peercoin.net which could add to the confusion as to what the official website address is (i, however, prefer peercoin.io but i understand that now peercoin.net is pretty established). what you reckon? maybe not that important..

[2014-01-29 08:39] super3 opened #187 "Fix Price Ticker"
Under moderate load on a small server the website will fail, due to excessive requests from the ticker. I have remedied this by increasing the specs of the server, which allows the website to function properly. Even in this case the website will fail if we receive a large amount of traffic.

**Solutions**
- Modify the script to limit excessive requests. Most likely this is happening because we are

[2014-01-30 17:57] Gnewt commented on #187
What does 'the website will fail' mean -- does the ticker fail to return data or does it have worse consequences on the rest of the site?

Either way, ideally, I would like to have the data updating as a daemon if we are going to serve it to clients (so clients only ever get cached data, that data is updated via cron or whatever). If we want to have the client always grab data from Vircurex for ex

[2014-01-30 18:05] super3 commented on #187
Server gets more requests than it likes and locks up. Can't even ssh or
anything.

Yeah I like the flat file idea. Let's do that?
On Jan 30, 2014 12:57 PM, "Nick Mooney" notifications@github.com wrote:

[2014-01-30 19:25] Gnewt commented on #187
Sure! Do you want to implement periodic updates via cron? That way client logic would just be reading from the file.

[2014-01-30 19:33] Gnewt commented on #187
I could separate two files -- one to serve data to the client, one to update the data. The second one you could put in cron at whatever interval you'd like.

[2014-01-30 21:01] super3 commented on #187
Sure lets do that.

On Thu, Jan 30, 2014 at 2:33 PM, Nick Mooney notifications@github.comwrote:

##

Shawn Wilkinson
Bitcoin Developer/Entrepreneur/Enthusiast
(1P4QkLsujBPBZyUwDezikL4fUSs7JvFhPv)
me@super3.org
http://super3.org

[2014-02-02 01:40] super3 commented on #186
Changed DNS settings for Primecoin.io, after they propagate I will forward the domain.

[2014-02-02 01:40] #133 closed, assigned to nobody

[2014-02-02 01:40] #100 closed, assigned to Kerberus35

[2014-02-02 01:40] #54 closed, assigned to super3

[2014-02-02 01:51] super3 commented on #184
Added to the Aesthetic and Brand Changes milestone.

[2014-02-02 01:59] #184 closed, assigned to nobody

[2014-02-04 02:32] #187 closed, assigned to Gnewt

[2014-02-04 02:35] Gnewt commented on #166
What do you mean by Physical Contact Info?

[2014-02-04 09:25] Sentinelrv opened #205 "Press Link Change"
Could somebody please change the current Press link for "Articles & Interviews" to this new updated one I made...

http://www.peercointalk.org/index.php?topic=2219.0

[2014-02-04 16:48] #205 closed, assigned to nobody

[2014-02-05 22:51] super3 commented on #166
No idea. That is just what Google wanted.

[2014-02-06 00:08] Gnewt commented on #166
For AdSense? Hmm... I found some documentation of that phrase [here](https://support.google.com/adwordspolicy/answer/2464998?hl=en), but it seems to be geared toward those providing a financial service. Peercoin.net just provides information.

[2014-02-06 00:52] super3 commented on #166
Agreed. Should we just not include anything there?
On Feb 5, 2014 7:08 PM, "Nick Mooney" notifications@github.com wrote:

[2014-02-06 01:46] super3 commented on #187
My server bandwidth thanks you.
![Imgur](http://i.imgur.com/0zfpwcL.png)

[2014-02-06 01:48] super3 commented on #187
Do you mind pushing this update to the primecoin.io site as well? Uses the same code.
https://github.com/super3/primecoin.io

[2014-02-06 01:50] #166 closed, assigned to nobody

[2014-02-06 02:52] Gnewt commented on #166
Sounds good.

[2014-02-06 02:55] Gnewt commented on #167
What type of TOS or EULA do you have in mind? Is there a specific license you'd like to use?

[2014-02-06 02:55] Gnewt commented on #187
Awesome, nice to see. I'm sending in a pull request to Primecoin's as soon as my git client stops acting funky.

[2014-02-06 02:56] super3 commented on #167
No idea. Pick one that works best, and we can go from there.

On Wed, Feb 5, 2014 at 9:55 PM, Nick Mooney notifications@github.comwrote:

##

Shawn Wilkinson
Bitcoin Developer/Entrepreneur/Enthusiast
(1P4QkLsujBPBZyUwDezikL4fUSs7JvFhPv)
me@super3.org
http://super3.org

[2014-02-06 02:56] super3 commented on #187
Github for windows?
On Feb 5, 2014 9:55 PM, "Nick Mooney" notifications@github.com wrote:

[2014-02-06 03:27] Gnewt commented on #187
Naw just CLI git, I think I was having network issues.

[2014-02-06 03:27] super3 commented on #187
Ah.
On Feb 5, 2014 10:27 PM, "Nick Mooney" notifications@github.com wrote:

[2014-02-06 05:03] #167 closed, assigned to nobody

[2014-02-06 11:16] rootsical commented on #186
i meant peercoin.io - you have it right?

[2014-02-07 06:36] super3 commented on #186
Redirects now.

[2014-02-07 06:36] #186 closed, assigned to nobody

[2014-02-07 06:40] rootsical commented on #186
Nice!

[2014-02-13 17:04] danbartram commented on #134
I just sent in a pull request, with some mod_rewrite rules (Pull #215).

You just need to check the server has mod_rewrite and .htaccess files enabled and loaded otherwise you'll get some 500 server errors.

[2014-02-14 01:44] FuzzyBearBTC opened #217 "add new Peercoin Block explorer link"
New nice Peercoin Block Explorer here we should reference on the website somewhere.

http://ppc.blockr.io/

[2014-02-14 14:00] FuzzyBearBTC commented on #129
for reference the forum thread discussion on peercoin.net translations is here http://www.peercointalk.org/index.php?topic=1630.0

[2014-02-15 05:19] jacobsmith opened #222 "Spelling Error in Intro Video"
In the intro video, at the 1:03 mark, the spelling is 'loosing' in terms of no longer having control of capital, when it should read 'losing'. I'm not sure how the video was created, but it should have only one 'o'. (If it is easy to regenerate).

[2014-02-15 06:02] super3 opened #223 "Tip4Commit Issue"
Although I love that people are donating, I think we should consider removing some of the funds for the tip4commit. Don't really want to reward someone $100 for fixing a comma. Those funds could be put to better use.

[2014-02-15 11:27] sashazykov commented on #223
Do you think that we should limit tip size? I thought so, but @arsenische does not agree. He thinks that donors should decide this by their donations.

[2014-02-15 12:35] danbartram commented on #223
I totally agree. It would be better for the repo owner, or a scale of "usefulness" (e.g. 1% to 100% of the expected tip) or value ("minor", "major", etc.) to decide how much each commit gets tipped.

Would it be possible to get Tip4Commit to scan the comments in the pull request, find comments from the repo owner and look for something with the syntax:

[code]

Then that would be parsed into a per

[2014-02-15 16:57] arsenische commented on #223
Limiting the tip amount could be useful, but I am afraid that it could diminish the incentive for new developers to join the projects. If donors are not satisfied with the pace of development, they can donate more increasing the tip size and attracting more attention to projects. Demand and supply should eventually set the reasonable tip size.

AFAIK there is ongoing work on https://github.com/tip

[2014-02-15 17:12] super3 commented on #223
I like the ideas discussed, but would also like to be able to put tips on specific pull requests to guide development. I'm going to do a separate fund for development. I'd rather have guided development, and then have tip4commit handle the small fixes.

[2014-02-18 07:50] corneliu-s commented on #168
are any screenshots needed?

[2014-02-18 10:59] ngbatnicdotmil commented on #168
should we create seperate screenshots for windows 8 and 7 ?
and where to place the link for uninstall page?
do we need linux and mac unistall guides?

[2014-02-18 12:36] super3 commented on #168
Sure screenshots would help.

[2014-02-20 06:43] super3 commented on #222
Aware. We just need to create another video at this point. Thanks.

[2014-02-20 06:43] #222 closed, assigned to nobody

[2014-02-20 06:54] #217 closed, assigned to nobody

[2014-02-20 07:24] #129 closed, assigned to nobody

[2014-02-20 07:24] #134 closed, assigned to nobody

[2014-02-20 07:24] #168 closed, assigned to nobody

[2014-02-20 08:26] super3 opened #233 "Landing Page for Peercoin.net"
Need to condense the http://peercoin.net into a single landing page. Should be slightly modeled after https://litecoin.org/ in terms of simplicity.

Should contain space in the header for links to multiple languages. Single click links to downloads for Windows, Linux, and Soucecode. Should also contain a 2 paragraph summary of the unique features of Peercoin.

Below this we can place links to vari

[2014-02-24 10:10] danbartram commented on #233
### Locale System

I was thinking we could implement the locale/language system by adding an extra top bar, just below or just above the current top bar with the page links.

The language links would be added via a foreach running through a variable like

[code]

The languages array keys will be [ISO 639-1](https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes) codes in order to keep everything st

[2014-02-24 12:01] super3 commented on #233
Completely agree. Go for it. Would just want to apply this to the landing page for now though.

[2014-02-24 14:11] redminer opened #241 "List more exchanges"
Is it possible to list 796.com on the bottom "exchange" section of the front page of peercoin.net?
I have asked 796 to start a topic in the forum to answer community questions.
http://www.peercointalk.org/index.php?topic=2384

[2014-02-24 14:33] danbartram commented on #233
Just finished my implementation, I'll send a pull request for you to have a look at any minute now.

[2014-02-24 14:33] super3 commented on #233
Well that was fast.

[2014-02-24 14:47] danbartram commented on #233
Two and a half hours of working have been sent for checking in Pull #242.

[2014-02-24 21:24] danbartram opened #246 "Locale System causing blank page?"
Trying to find the cause of the blank page issued brought in with Pull #242.

[2014-02-25 02:15] iheartcryptocoin commented on #233
After my new years' hiatus I have finally returned.  I agree that the site can be better organized than it currently is, even with the excellent changes that have been deployed in recent weeks.

What is the rationale for a single page layout?  Esp one mimicking litecoin - their site is styled like it was built in 2002 hahahaha

[2014-02-25 03:13] super3 commented on #233
It is not ment as a replacement but as a supplement. Basically a one stop shop if you just want to download the client. We can easily translate it to a few dozen languages, whereas maintaining a dozen different languages on a full site would be impossible. Look at bitcoin.org even they have pages missing for translation. But catering to other languages we close out our currency to everyone who doe

[2014-02-25 06:49] iheartcryptocoin commented on #233
Ahhhh, yea single static page translated to various languages is an excellent idea as a suppliment.  Makes porting the translations easier than the line by line prototype we have now as well.

Let's prioritize Spanish, Mandarin, Hindi, Indonesian, Japanese, Portugese German, Russian, and Arabic to maximize reach.

[2014-02-25 15:04] danbartram commented on #246
Thank you for the SSH access, this is what I've done so far:

[code]

I reloaded the peercoin.net site and I got the white page error that I couldn't reproduce on my end.

[code]

So I went to check the Apache logs and found this:

[code]

This is the file causing the fatal error and thus a blank page:
https://github.com/super3/peercoin.net/blob/4e135f94db9bef8e061c690d1bc365ae5fcd2c9f/locale/loca

[2014-02-25 15:12] danbartram commented on #246
## Aha!

I think I've figured it out!

Your server is running with an already enabled `Locale` class - [class.locale.php](http://www.php.net/manual/en/class.locale.php) docs.

We can either find a way to turn that off, or I resubmit a push with a different class name instead of `Locale`. Any preferences?

---

Beautiful! The site is now live and working with my locale commit.

## What I Changed

M

[2014-02-25 15:37] super3 commented on #246
I have no opinion on that matter. If it works, it works. Please add a note to the root README, so it can be recreated if I ever need to restore the Peercoin.net site from a blank server.

Added you to the collab list for the repo. I've reverted my revert, so your changes are now on the current version. (Note: the site updates every 10 minutes from the current master).

[2014-02-25 15:37] #246 closed, assigned to nobody

[2014-02-25 15:40] danbartram commented on #246
Thanks for the push access, I'll keep the work around as the current "working system" and if we need to make use of that intl module in the future, we'll rename our `Locale` class to something else like `Translator` or `Localizer`.

[2014-02-25 15:55] danbartram commented on #233
I was going to open a new issue requesting translations added to the `strings.php` file, but I wanted to check a couple of things here first.

### Languages

Which languages do you want added? Do you want as many as possible? Are there any priorities (the ones suggested by @iheartcryptocoin)?

### Content

Is the content going to be changing relatively soon with the new landing page?

If so, it'd

[2014-02-25 16:17] super3 commented on #233
My next priority is to get the landing page finished, and have everyone
agree on the 2 paragraphs or so to describe Peercoin. That actually might
be a sperate repo, and the stick on the locale script. At that point its
simply getting as many translations added to that as possible.

Of course our priorities are Spanish and Mandarin. Then its as many
languages as we can get.
On Feb 25, 2014 10:55 AM

[2014-02-27 11:52] malaga2333 commented on #223
create a sequence of files (more than 200), and push them as commits, you'll get the whole balance of the project and use it for guided development :))

any thanks accepted
btc 19Wa6kXdeA2XZqemCzSrd5ExFyk6BBAjZp
ppc PCgx2WF8fdQhTTeDYUUEVM4tNnWyeYBTUS

[2014-03-08 07:03] bitkatana opened #264 "Japanese translation(whitepaper)"
I translated the whitepaper into japanese.
https://docs.google.com/file/d/0BzR0kDsjLU98MF9COEtEejNUYkk/edit
Please upload.

[2014-03-10 12:06] mrbickle opened #271 "Should I translate the main Webpage to Catalan?"
Hello, not an issue, just a question.

Should I add CAT locale and translate the site to Catalan language? According to Wikipedia there are 11'5 million Catalan speakers, but not sure if you are only interested in translating to big languages...

[2014-03-10 12:07] super3 commented on #271
Yes. The more languages the better.

[2014-03-10 12:07] #271 closed, assigned to nobody

[2014-03-12 03:33] #264 closed, assigned to nobody

[2014-03-12 03:42] #241 closed, assigned to nobody

[2014-03-12 03:43] super3 commented on #241
Adding you to the Buying and Exchange page. As for the footer, I'm writing up sponsorship guidelines right now, for those who want priority placement.

[2014-03-12 03:44] super3 commented on #233
Seems to have merged into a discussion about translation. Closing for now.

[2014-03-12 03:44] #233 closed, assigned to nobody

[2014-03-12 04:14] super3 opened #278 "Repository Bot"
It's poor form to push changes to the live site to see if they work. It would be nice if we have something like [BitcoinPullTester](https://github.com/bitcoin/bitcoin/pull/3846), which runs tests on Bitcoin for every pull request.

Perhaps our bot could return screenshots of every page affected by the commit, or return a URL to a temporary hosted page with the code result.

[2014-03-12 04:26] super3 opened #279 "Clean up 'Use Peercoin' Page"
Want to funnel a bunch of the people from the website into this page. I feel like we are missing tons of resources, merchants, etc. that should be on this page.

A) Clean up the design into a bunch of pretty tables, instead of bulleted lists
B) Start a bounty pool for users to actively maintain and add to the page

[2014-03-12 05:32] super3 opened #281 "Logo Link to Primecoin.io"
Want a dropdown on our logo that shows a link to the primecoin website/logo. Want to also add this to the [primecoin repo](https://github.com/super3/primecoin.io) as well. We should be branding these coins together as a complete solution.

[2014-03-12 05:39] PeterMartinez opened #282 "New Pool, Explorer, Currency & Network Stats Site"
Please add https://peercoin.blockmines.com link to peercoin pool and blockexplorer sections of site. :)

[2014-03-12 07:51] iheartcryptocoin commented on #278
https://wiki.jenkins-ci.org/display/JENKINS/GitHub+pull+request+builder+plugin

[2014-03-12 07:51] super3 commented on #278
Anyone want to set that up?

[2014-03-12 08:16] iheartcryptocoin opened #284 "Bring Doc and Press info off forum & onsite"
Linking to forum posts for the doc and press section is not professional.  Additionally the Press kit info need to be completely redone.

Additionally JBT has moved on so we need to update the contact info for the point person to make an interview request with Sunny

[2014-03-12 08:25] iheartcryptocoin commented on #279
Agree.  Have an example of a site using the layout you are thinking about?

[2014-03-12 15:44] super3 commented on #279
No, but I wanted it to be filled like this page https://en.bitcoin.it/wiki/Trade, but actually look good.

[2014-03-12 15:52] super3 commented on #284
Agreed. We need a singular page or section for the press that is on the website not the forum.

[2014-03-12 16:43] confit opened #286 "Use HTTPS by default"
https://www.startssl.com/ offers free SSL certificates.

[2014-03-12 16:44] confit opened #287 "Mac wallet installer should adhere to existing naming conventions"
The Mac wallet file name is currently "PPcoin-Qt.dmg".  This should follow the same naming convention as the Windows and Linux wallets.  Either of the following would be acceptable for version 0.3.0:
- ppcoin-0.3.0-mac.dmg
- ppcoin-0.3.0-osx.dmg

[2014-03-12 16:45] confit opened #288 "Use GPG signed binaries for all wallet downloads"

[2014-03-12 18:08] super3 commented on #288
Agreed. Very useful in-case the hoster is compromised in any way.

[2014-03-12 18:10] super3 commented on #286
Agreed. Preferable get someone to do this who has done it already.

[2014-03-12 18:19] super3 commented on #286
We are using Digital Ocean so this is relevant:
https://www.digitalocean.com/community/articles/how-to-create-a-ssl-certificate-on-apache-for-ubuntu-12-04

[2014-03-12 20:41] iheartcryptocoin opened #293 "Exchange and Merchant Listing Standards"
New exchanges, block explorers and merchants are popping up daily.  We need a process to determine which we list on the front page and which pass are minimum standards to be listed on the full resources page

[2014-03-12 20:59] iheartcryptocoin commented on #284
We also need to establish standards for what news articles will be listed, this initial pull is based off of Sentinelv's forum post.  However there are many other articles we may wish to include.  It might also be good to create a "cryptos" in the news section below the Peercoin news section

[2014-03-12 21:06] iheartcryptocoin opened #295 "Press sheet PDF with translations + other materials"
Guys on the forum are working on a PPT for conferences.  I made business cards and other graphics.

We should also create a one page PDF press sheet with brief relevant facts/mile stones re PPC's history/planned future and have it translated as we are seeking to do the main web page.

WE thne link to the graphics, the PPT, the one page PDF as a media kit

[2014-03-13 00:55] super3 commented on #284
I think we should have 3 sections. Major media, crypto new articles, and casual mentions in media.

[2014-03-13 00:59] super3 commented on #295
It would be great if we included the sources files to logos, cards, and graphics.

[2014-03-13 03:03] iheartcryptocoin commented on #284
Additional To Do

Add #peercoin live feed to news page.  C'kay suggests Rebel Mouse
Am currently exploring free service. https://www.rebelmouse.com/static/welcome/publishers-and-media.html

Other suggestions?

[2014-03-13 04:38] bardiharborow commented on #286
@super3 I can do this if you want? You will probably want to hold the keys. I'll setup a command to generate a certificate request if you want. That can then be uploaded to the StartSSL website and you can get a SSL cert.

[2014-03-13 06:44] Sentinelrv opened #296 "Peercoin Listed Twice in Upper Left Corner?"
Is there a reason why it says Peercoin twice in the upper left corner of the page? First it shows it in logo form which I understand, but then it says it again right before the slogan. It's a little redundant and takes up unnecessary space in my opinion. Unless it's intended for search engines to capture it. If that's the case, nevermind.

While I'm making this post, is there any way we could make

[2014-03-13 12:58] #296 closed, assigned to nobody

[2014-03-13 13:01] super3 commented on #296
Looks like someone snuck this change into the translation strings. I just need to be better at looking at the diffs.

Open a separate issue for the logo.

[2014-03-13 14:18] confit opened #298 "Consolidate download links"
The Windows and Linux wallets are hosted on SourceForge and the Mac wallet is hosted on mega.co.nz.  Consolidate downloads into one location.

It isn't clear who maintains or has access to files on a mega.co.nz account.  Furthermore, it isn't clear why the Mac wallet maintainer(s) cannot access "official" Peercoin infrastructure (Peercoin's SourceForge account or peercoin.net).

[2014-03-13 15:59] iheartcryptocoin commented on #298
Agree.  We also need to consolidate a lot more than this.  Rather than do the consolidations piecemeal as we have been, how about we make an "consolidation" issue and all comment with the changes we see until we are happy with the "master list" of all the consolidations that need to be done. Then we each can choose which large chunk we want to own?

[2014-03-13 16:03] iheartcryptocoin commented on #295
Will add large logo to finish #302   when I finish this issue by adding the  PPT and a video of it that we generate etc.  Better to consolidate commits

[2014-03-13 16:15] iheartcryptocoin opened #300 "blog to post newsletters and community announcements"
This is a new feature request from @Sentinelrv  and the rest of the forum

Did we ever deploy that Fork CMS we talked about last year?

[2014-03-13 18:31] Sentinelrv opened #302 "Can we Make the Peercoin Text Logo a Little Larger?"
Is there any way we could make the text logo in the upper left corner a tad larger? It's too small in my opinion. I can barely tell that there's a leaf on the i. It's also so small that it has jagged edges, rather than smooth ones. Here is what I currently see...

http://i2.photobucket.com/albums/y17/Sentinelrv/Other-Images/PPCLogoTooSmall.png~original

It doesn't have to be huge, just a little la

[2014-03-13 19:02] iheartcryptocoin commented on #302
will be done - see my comment at #295

[2014-03-14 01:11] iheartcryptocoin commented on #54
What about Pico?  Flat file CMS could be a solid solution since only devs update the site

http://pico.dev7studios.com/docs.html#blogging

[2014-03-14 10:05] bardiharborow opened #304 "Major bug with the latest commits."
Screenshot: http://gyazo.com/d72f0841afd5cabee5165e65d7530beb
Last good commit: 87f92d3e32f474404d76f7fbdfb230a39985aa84

[2014-03-14 10:56] iheartcryptocoin commented on #304
commit was taking longer than typical to show live so was testing server responsiveness - all works

[2014-03-14 10:56] #304 closed, assigned to nobody

[2014-03-14 11:40] #302 closed, assigned to nobody

[2014-03-14 16:29] super3 opened #305 "Larger Logo is Misaligned."
The larger logo looks misaligned. It is especially apparent when in responsive mode.

[2014-03-14 16:30] super3 commented on #304
Yeah, we really need to have a development branch. I'll try to get around to is this weekend.

[2014-03-14 17:21] #305 closed, assigned to nobody

[2014-03-14 17:23] iheartcryptocoin opened #306 "Responsiveness between 1000 and 1200px is odd and should be removed"
Between 1000px and 1200 px the menu jumps into a strange alignment.  It would be better to retain the full width alignment all the way from 1200 to 1000 then jump to the sub 1000px width layout.

[2014-03-14 19:29] iheartcryptocoin opened #307 "Resources and Get Peercoins contain same content"
Just like the wallet links, this content needs to be consolidated

Proposed overhaul

Change "Get Peercoin" to "About Peercoin"
Include only " What is" sections
1) What is Peercoin? (brief overview plus introduction to spending and exchanging)
2) What is Mining? (as stated)
3) What is Minting? (as stated)
At the end of each section end with
"Learn how to [mine/mint/spend] Peercoin at [x page] in o

[2014-03-14 21:52] iheartcryptocoin commented on #284
For Major News will search these top listed sites
-http://www.ebizmba.com/articles/news-websites

-http://www.comscoredatamine.com/2012/12/most-read-online-newspapers-in-the-world-mail-online-new-york-times-and-the-guardian/

and collect

A) Peercoin Mention
B) Bitcoin/Crypto generally mentioned

We also need to collect all of the past Weekly Newsletters and add therm as toggles in a Community New

[2014-03-14 21:52] iheartcryptocoin commented on #307
System will also make  #284 more efficient to maintain

[2014-03-15 00:36] ghost opened #310 "Added Italian Translation."
Edit: I didn't realize submitting a pull request automatically created a new issue, sorry!

[2014-03-15 00:37] #310 closed, assigned to nobody

[2014-03-15 03:28] iheartcryptocoin commented on #307
Note - the front page in /refine will not render exactly as the browser because the header must be in the root index to call the correct background.  Once updates are done the contents of the folder can be moved to the root without issue and the index will render correctly

[2014-03-15 04:43] iheartcryptocoin commented on #307
@super3 Take a look and let me know what you think of the proposed reorganization.

[2014-03-15 13:03] super3 commented on #298
See #288

[2014-03-15 13:05] super3 commented on #307
@iheartcryptocoin the footer in /resources and /news is broken. Please fix before I do a rollback. Also please do pull requests instead of direct commits from now on.

[2014-03-15 13:40] super3 opened #315 "Push Freeze."
There are several responsive bugs, broken things, and typos on the current site. Doing a  push freeze for the moment as I try to clean some of this up.

[2014-04-04 06:23] bardiharborow opened #319 "Tip4commit and Peer4commit"
This repo has 2.49488921Ƀ waiting for it on tip4commit and 2432.07756800 PPC  waiting for it on peer4commit.  Seeing as it is deprecated, should we contact tip4commit and peer4commit and have the balances transferred to the new repo?

http://tip4commit.com/projects/222

[2014-06-11 14:21] sashazykov commented on #319
I would like to transfer it, since I don't want to store this money. Where is the new repo? Could repo owner agree on transfer of funds?

[2014-06-11 14:21] sashazykov commented on #319
@super3 ?

[2014-06-12 04:37] super3 commented on #319
Does it have to be transferred to a new repo or can I transfer it to a development fund address?

[2014-06-12 06:30] sashazykov commented on #319
@super3 I would prefer to transfer it to another project. Sponsors apparently wanted to use tip4commit.

[2014-06-14 19:50] super3 commented on #319
My main concern is that that peer4commit only pays out per commit. Someone might write a huge feature or someone might fix a missing period, and they are valued the same. Yes, owners can decided tip amounts, but still it doesn't convey that to the people actually committing.

What I think peer4commit needs as a feature is the ability for repo owners to assign a bounty to a particular issue. That w

[2014-06-21 09:38] sashazykov commented on #319
Unfortunately, we don't have a mechanism of refunding deposits now. I've changed gihub_id of the project and put tips on hold, so you can log in, add policy and decide tip amounts for all existing commits. Project url is the same http://tip4commit.com/projects/222

[2014-06-22 02:29] super3 commented on #319
Ok, I will figure out a solution for this in the next couple of days.

[2014-07-13 08:16] super3 commented on #319
I've moved most of the funds to the website funds, and the other Peercoin.net repo. Should be solved.

[2014-07-13 08:16] #319 closed, assigned to nobody

[2014-10-09 18:38] #279 closed, assigned to nobody

[2014-10-09 18:38] #281 closed, assigned to nobody

[2014-10-09 18:42] #315 closed, assigned to nobody

[2014-10-09 18:42] #278 closed, assigned to nobody